# App
PORT=3001
NODE_ENV=development

# Database
DATABASE_URL="postgresql://taskspace:taskspace_secret@localhost:5432/taskspace?schema=public"

# JWT
JWT_ACCESS_SECRET=your_access_secret_change_this
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret_change_this
JWT_REFRESH_EXPIRES_IN=7d

# Email (untuk forgot password)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=your_mail_user
MAIL_PASS=your_mail_pass
MAIL_FROM="Team Flow <no-reply@teamflow.app>"

# Frontend URL
FRONTEND_URL=http://localhost:3000
